*{
   margin: auto;
   margin-top: 50px;
  
}


main {
    
    box-shadow: 7px 5px rgba(0, 0, 0, 0.399);
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(244, 248, 250, 0.372);
    width: 300px;
    height: 370px;
}



main input{
    border-radius: 25px;
}



main input:hover{
    border: 3px solid black;
    background-color: red;

}







main button {
    
    box-shadow: 5px 3px 2px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    border-radius: 50px;
    width: 100px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.887);
}


main button:hover{
    background-color: chartreuse;
    border: 1px solid black ;
    
}

main button:active{
    target=""
    background-color: blue;
}

main button:checked{
    background-color: rgb(25, 25, 28);
}





main button span{
    background-color: rgb(17, 0, 255);
    width: 0;
    position: absolute;
    z-index: -0;
    transition: 0.5s;
}

